.cont {
  border-color: black;
  border-style: solid;
  width: 100%;
}
a {
  margin-left: 10px;
}
button {
  margin-right: 10px;
  margin-left: auto;
}
.navLink {
  width: fit-content;
  border-radius: 30%;
}
:hover.navLink {
  background-color: bisque;
  border-radius: 30%;
}
.brand {
  margin-left: 10px;
}
.spinner {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  background-size: 100%;
}
.ticketListMain {
  margin-left: 50px;
}
.ticketLisRow {
  cursor: pointer;
  color: blue;
}
.ticketLisRow:hover {
  background-color: #98eecc;
  transition: all 2s ease;
  color: blue;
}
.ticketCard {
  margin: 0 auto;
  padding: 1rem;
  max-width: 50rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: white;
}
.mainTicket {
  display: flex;
  align-items: center;
  margin-top: 30px;
  justify-content: center;
  flex-direction: column;
}
.mainImageTicket {
  display: flex;
}
.mainTicketData {
  margin-left: 20px;
}
.data {
  display: flex;
  margin-top: 10px;
  height: 100%;
}
.headline {
  text-align: center;
}
.price {
  display: flex;
}
.order-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Center vertically as well */
}

.order-content {
  text-align: center;
}
